.container {
  padding: 30px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1600px;
  margin: 0 auto;
  gap: 14px;

  .event {
    padding: 10px;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    border: 2px solid transparent;
    cursor: pointer;

    &:not(.selected):hover {
      border: 2px solid rgba(244, 67, 54, 0.5);
    }

    &.selected {
      border: 2px solid rgb(244, 67, 54);
    }

    .hall {
    }
    .date {
    }
    .seats {
      font-size: 12px;
      color: #777;
    }
  }
}
