.container {
  background-color: #f6f6f6;
  border-radius: 10px;

  .hall {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid #dfdfdf;

    .scene {
      width: 200px;
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 1px solid #777;
      color: #777;
      letter-spacing: 3px;
    }

    .seats {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      .row {
        display: flex;
        gap: 8px;
        font-size: 14px;
      }
    }
  }

  .legend {
    padding: 20px;
  }
}
