.basket {
  width: 400px;

  h3 {
    margin-bottom: 14px;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-bottom: 14px;

    .item {
      position: relative;
      display: inline-block;
      width: 120px;
      padding: 6px;
      border-radius: 6px;
      border: 2px solid transparent;
      box-sizing: border-box;

      .seat {
        font-size: 12px;
        color: #777;
      }

      .remove {
        position: absolute;
        top: -7px;
        right: -7px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        cursor: pointer;
        display: none;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &:hover .remove {
        display: flex;
      }
    }
  }

  .empty {
    color: #777;
  }

  .total {
    margin-bottom: 14px;
    font-size: 16px;
  }
}
